body {
  margin-top: 0;
}

.main-container.container-fluid > .row > .col-sm-12 {
  padding: 0;
}

/* Slider */
.view-articles-block-slider .owl-stage-outer,
.view-articles-block-slider .owl-stage,
.view-articles-block-slider .owl-item {
  height: 250px;
}

.view-articles-block-slider .views-field-field-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.view-articles-block-slider .views-row {
  padding: 0 30px;
  text-align: center;
}

/* Піднімаємо поля над картинкою */
.view-articles-block-slider .views-field-title,
.view-articles-block-slider .views-field-body,
.view-articles-block-slider .views-field-view-node {
  position: relative;
  z-index: 2;
}

.view-articles-block-slider .views-field-body,
.view-articles-block-slider .views-field-view-node {
  display: inline-block;
  font-size: 16px;
}

.view-articles-block-slider .views-field-title {
  padding: 35px 0;
  text-transform: uppercase;
}

.view-articles-block-slider .views-field-title a {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.view-articles-block-slider .views-field-body {
  margin-right: 5px;
  color: #fff;
}

.view-articles-block-slider .views-field-field-image .field-content {
  display: flex;
  height: 100%;
}

/* Пропорційно розтягує картинку по контейнеру */
.view-articles-block-slider .views-field-field-image .field-content img {
  object-fit: cover;
}

.view-articles-block-slider .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.view-articles-block-slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

.view-articles-block-slider .owl-dots .owl-dot.active {
  opacity: 1;
}

/* Taxonomy Block */
.view-taxonomy-block {
  width: 70%;
  margin-left: 25%;
}

.view-taxonomy-block .views-col {
  position: relative;
  width: 16% !important;
  margin: 20px 10px;
}

.view-taxonomy-block .views-field-name a {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -25px;
  background-color: rgba(0,0,0,.5);
  padding: 12px 0;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 845px) {
  .view-taxonomy-block .views-col {
    width: 40% !important;
  }
}

@media screen and (max-width: 400px) {
  .view-taxonomy-block .views-col {
    width: 70% !important;
  }
}

/* Basic page block slider */
.view-basic-page-block-slider .owl-loaded {
  position: relative;
}

.view-basic-page-block-slider .disabled span {
  visibility: hidden;
}

.view-basic-page-block-slider .owl-prev span,
.view-basic-page-block-slider .owl-next span {
  font-size: 50px;
  color: rgba(39,52,70,0.71);
}

.view-basic-page-block-slider .owl-loaded .owl-prev {
  position: absolute;
  top: 30%;
  left: -3%;
}

.view-basic-page-block-slider .owl-loaded .owl-next {
  position: absolute;
  top: 30%;
  right: -3%;
}
