body {
  margin: 0;
}

.main-container.container-fluid > .row > .col-sm-12 {
  padding: 0;
}

/* Slider */
.view-articles-block-slider .owl-stage-outer,
.view-articles-block-slider .owl-stage,
.view-articles-block-slider .owl-item {
  height: 250px;
}

.view-articles-block-slider .views-field-field-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.view-articles-block-slider .views-row {
  padding: 0 30px;
  text-align: center;
}

/* Піднімаємо поля над картинкою */
.view-articles-block-slider .views-field-title,
.view-articles-block-slider .views-field-body,
.view-articles-block-slider .views-field-view-node {
  position: relative;
  z-index: 2;
}

.view-articles-block-slider .views-field-body,
.view-articles-block-slider .views-field-view-node {
  display: inline-block;
  font-size: 16px;
}

.view-articles-block-slider .views-field-title {
  padding: 35px 0;
  text-transform: uppercase;
}

.view-articles-block-slider .views-field-title a {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.view-articles-block-slider .views-field-body {
  margin-right: 5px;
  color: #fff;
  max-width: 73%;
  max-height: 9rem;
}

@media (max-width: 952px) {
  .view-articles-block-slider .views-field-body {
    overflow: hidden;
  }
}

.view-articles-block-slider .views-field-field-image .field-content {
  display: flex;
  height: 100%;
}

.view-articles-block-slider .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.view-articles-block-slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #fff;
  border-radius: 50%;
  opacity: .5;
}

.view-articles-block-slider .owl-dots .owl-dot.active {
  opacity: 1;
}

/* Taxonomy Block */
.view-taxonomy-block .views-row {
  margin-bottom: 25px;
}

.view-taxonomy-block .views-field-name .field-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -25px;
  background-color: rgba(0,0,0,.5);
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  background-clip: content-box;
}

.view-taxonomy-block .views-field-name a {
  padding: 8px 15px;
  display: block;
}

.view-taxonomy-block img {
  margin: auto;
}

/* Basic page block slider */
.view-basic-page-block-slider .owl-loaded {
  position: relative;
}

.view-basic-page-block-slider .views-field-field-image img {
  height: 220px;
  object-fit: cover;
}

.view-basic-page-block-slider .disabled span {
  display: none;
}

.view-basic-page-block-slider .owl-prev span,
.view-basic-page-block-slider .owl-next span {
  font-size: 50px;
  color: rgba(39,52,70,0.71);
}

.view-basic-page-block-slider .owl-loaded .owl-prev,
.view-basic-page-block-slider .owl-loaded .owl-next {
  position: absolute;
  top: 50%;
  height: 70px;
  margin-top: -35px;
  outline: none;
}

.view-basic-page-block-slider .owl-loaded .owl-prev {
  left: -3%;
}

.view-basic-page-block-slider .owl-loaded .owl-next {
  right: -3%;
}

/* Header */
.navbar-default {
  background: #ff69b4 linear-gradient(to left, #ff69b4, #ffa07a);
}

.navbar-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.region-navigation {
  display: flex;
  width: 100%;
}

.block-views-exposed-filter-blocksearch-block-page-1 {
  padding-top: 1rem;
  margin-left: 30px;
}

.region-navigation {
  padding: 0 75px;
  /* ефект зменшення падінгів, ще треба буде на медії запросі змінити width
  width: 1600px;
  margin: auto; */
}

#block-useraccountmenu {
  margin-left: auto;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

a.dropdown-toggle {
  text-transform: uppercase;
}

.caret {
  border-top: 6px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

@media (max-width: 1200px) {
  .region-navigation {
    width: 1020px;
    margin: auto;
    padding: unset;
  }
}

@media (max-width: 990px) {
  .region-navigation {
    width: 800px;
  }
}

.btn {
  border-radius: 0 4px 4px 0;
}

#edit-search-api-fulltext {
  border-radius: 4px 0 0 4px;
}

#edit-submit-search-block {
  font-size: 0;
  background: #20b2aa url(../images/menu-search.svg) center no-repeat;
  background-size: 20px;
  width: 34px;
  height: 34px;
}
